# Principais dependências
streamlit
pandas
presidio-analyzer
presidio-anonymizer

# Dependências do NLP
spacy
pt-core-news-md @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_md-3.5.0/pt_core_news_md-3.5.0-py3-none-any.whl

# Outras dependências
regex
tqdm
pyyaml
python-dateutil
protobuf
typing-extensions
