streamlit
pandas
presidio-analyzer
presidio-anonymizer
spacy
pt-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.5.0/pt_core_news_sm-3.5.0-py3-none-any.whl
PyPDF2
reportlab
python-docx
protobuf
typing-extensions
pydantic
